.welcome-text {
    font-family: 'Poppins', sans-serif;
    color: #FF2D20;
    opacity: 0.7;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2C2C2C;
}